
body {

    background-color: rgb(33, 30, 30)

}

h1 {

    color: rgb(230, 230, 230);

    font-size: 22px;

    margin-bottom: 25px;
}

p {

    color: white;

    font-size: 26px;
}

span {

    color:orangered;
    
}

.shortcut {

    color: lightgray;
    font-size: 150%;

    cursor: pointer;

    font-family: monospace;
    
    margin: 15px;

    margin-left: 0px;
}


.valid-input {

    color: rgb(214, 24, 122);
    font-size: 150%;

    cursor: pointer;

    font-family: monospace;
    
    margin: 15px;

    margin-left: 0px;
}

a {

    color: rgb(214, 24, 122);;
    font-size: 250%;
}