
body {

    background-color: rgb(33, 30, 30)

    
}

li {

    color: rgb(214, 24, 122);;
    font-size: 250%;

    cursor: pointer;

    font-family: "Lucida Console", "Courier New", monospace;
}

a {

    color: rgb(214, 24, 122);;
    font-size: 250%;
}